<template>
  <div class="fancytable">
    <h1>Fancy Table</h1>
    <p>
      Schreibe eine &quot;funktionalle&quot; Tabelle, in der man Reihen filtern
      und sortieren kann und zusätzlich in Seiten blättern kann
    </p>
    <ul>
      <li>User darf sortieren</li>
      <li>User darf filtern/suchen</li>
      <li>User kann bestimmen wieviele Einträge pro Seite angezeigt werden</li>
      <li>User kann Seiten ändern</li>
    </ul>
    <p>Beispiel json-Datei als Datenbasis ist angelegt</p>
    <h3 id="code">Code</h3>
    <ul>
      <li>Spalten, die sichtbar sein sollen können frei gewählt werden</li>
      <li>Wert wird auf Funktionalität und Code-Quality gelegt</li>
    </ul>
    <h3 id="code">Database</h3>
    <pre> {{ database }} </pre
    >
  </div>
</template>

<script>
import database from "../assets/database.json";

export default {
  name: "FancyTable",
  data: () => ({
    database,
  }),
};
</script>