<template>
  <div class="home">
    <h1>Have Fun :)</h1>
    <router-link to="/timelogger">Home Training Time Logger</router-link>
    <br />
    <router-link to="/fancytable">Fancy Table</router-link>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
};
</script>
