<template>
  <div class="timelogger">
    <h1>Time Logger</h1>
    <p>Schreibe einen Home-Workout-Time-Logger, wo der User bestimmen kann:</p>
    <ul>
      <li>wie viele Übungen er insgesamt macht (default: 5)</li>
      <li>
        wie viele Supersets er innerhalb des Zeitfensters macht (default: 3)
      </li>
      <li>wie lange er eine Teil-Übung macht (default: 30s)</li>
      <li>
        wie lange er Zeit braucht um zu switchen (Superset-Pause) (default: 5s)
      </li>
      <li>
        wie lange er zwischen den Superset-Übungen Zeit hat Pause zu machen
        (default: 60s)
        <h3 id="beispiel-">Beispiel:</h3>
      </li>
    </ul>
    <p>
      Hier ein Beispiel wie das gemeint ist:
      <a href="https://www.youtube.com/watch?v=T2lyoAhcnXI"
        >https://www.youtube.com/watch?v=T2lyoAhcnXI</a
      >
    </p>
    <pre><code>-<span class="ruby">Begin (Start)
</span>  -<span class="ruby"><span class="hljs-number">5</span>x Exercise
</span>    -<span class="ruby"><span class="hljs-number">3</span>x Set
</span>      -<span class="ruby"> Zeitanzeige geht von <span class="hljs-number">30</span>s bis <span class="hljs-number">0</span> (Erste Übung)
</span>      -<span class="ruby"> Zeitanzeige geht von <span class="hljs-number">5</span>s bis <span class="hljs-number">0</span> (SetBreak)
</span>      -<span class="ruby"> Zeitanzeige geht von <span class="hljs-number">30</span>s bis <span class="hljs-number">0</span> (Zweite Übung)
</span>      -<span class="ruby"> wenn nicht letzte <span class="hljs-symbol">Set:</span> Zeitanzeige geht von <span class="hljs-number">5</span>s bis <span class="hljs-number">0</span> (SetBreak)
</span>    -<span class="ruby"> <span class="hljs-number">1</span>x Break
</span>      -<span class="ruby"> wenn nicht letzte Exercise : Pause <span class="hljs-number">60</span>s
</span>-<span class="ruby"> End (Finished)</span>
</code></pre>
  </div>
</template>
